/* line 5, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/pages.scss */
body {
  padding-top: 17px;
}
/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require bootstrap-wysihtml5
*/
/* line 22, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
body {
  background-color: #f5f5f4;
}

/* line 27, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.navbar {
  background-color: #600;
}
/* line 29, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.navbar a {
  color: #fff5cc !important;
}

/* line 34, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
#sign-in-button {
  margin-right: 10px;
  margin-left: 15px;
}

/* line 40, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.nav li {
  padding-right: 5px;
}

/* line 48, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 53, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
body {
  margin: 0px;
  margin-bottom: 60px !important;
}

/* line 58, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px !important;
  background-color: #600;
}
/* line 64, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.footer p {
  color: #fff5cc;
}

/* line 74, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.hover-transition-links a {
  color: #600;
  text-decoration: none;
  transition: all 300ms;
}
/* line 79, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.hover-transition-links a:hover {
  background-color: #600;
  border-radius: 5px;
  color: #fff5cc;
}

/* line 86, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.admin-buttons {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
  background: #a90329;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  border: 2px solid black;
  border-radius: 10px;
  margin: 15px;
  padding: 5px;
  color: #fff5cc;
}

/* line 4, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/posts.scss */
.carousel-image {
  height: 500px;
  width: 800px;
  margin: auto;
}

/* line 10, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/posts.scss */
.carousel-control:hover {
  background-color: transparent;
}

/* line 14, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/posts.scss */
.carousel-caption {
  background-color: rgba(245, 245, 244, 0.7);
  font-size: 4em;
  margin-bottom: 100px;
  padding-top: 25px;
}

/* line 21, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/posts.scss */
.carousel-read-post-button {
  position: absolute;
  left: 0;
  right: 0;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  bottom: 10%;
  background-color: #600;
  color: #fff5cc !important;
  border: none;
}

/* line 34, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/posts.scss */
.carousel-read-post-button:hover {
  background-color: #fff5cc;
  color: #600 !important;
}

/* line 39, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/posts.scss */
.thumbnail {
  padding-bottom: 20px;
}

/* line 47, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/posts.scss */
.post-image {
  width: 100%;
  height: 150px;
  margin: auto;
  border-radius: 5%;
  opacity: .75;
  border: 5px solid transparent;
}

/* line 56, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/posts.scss */
.post-image:hover {
  opacity: 1;
  border: none;
}

/* line 67, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/posts.scss */
#post-show-page .post-show-container {
  padding: 0px;
  margin: 0px;
}
/* line 72, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/posts.scss */
#post-show-page .post-show-title-section {
  background-color: #fff5cc;
}
/* line 76, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/posts.scss */
#post-show-page .post-show-title, #post-show-page .post-show-subtitle {
  text-align: center;
  color: #600;
}
/* line 81, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/posts.scss */
#post-show-page .post-show-body {
  background-color: #eea;
}
/* line 85, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/posts.scss */
#post-show-page .post-categories-and-tags-well {
  border: solid 1px grey;
  border-radius: 2px;
  padding: 10px;
  background-color: #fff5cc;
  margin: 5px;
  color: #600;
}

/* line 99, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/posts.scss */
.post-body-edit-field {
  border: 1px solid black;
  padding: 5px;
  background-color: #eee;
  border-radius: 5px;
}

/* line 106, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/posts.scss */
.wysihtml5-sandbox {
  width: 100% !important;
  min-height: 800px !important;
}
/* line 1, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/scaffolds.scss */
body {
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 8, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 14, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 20, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 23, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 29, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 33, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 38, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 43, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 47, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 53, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 60, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 70, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 76, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*



*/
/* line 23, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
body {
  background-color: #f5f5f4;
}

/* line 28, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.navbar {
  background-color: #600;
}
/* line 30, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.navbar a {
  color: #fff5cc !important;
}

/* line 35, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
#sign-in-button {
  margin-right: 10px;
  margin-left: 15px;
}

/* line 41, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.nav li {
  padding-right: 5px;
}

/* line 49, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 54, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
body {
  margin: 0px;
  margin-bottom: 60px !important;
}

/* line 59, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px !important;
  background-color: #600;
}
/* line 65, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.footer p {
  color: #fff5cc;
}

/* line 75, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.hover-transition-links a {
  color: #600;
  text-decoration: none;
  transition: all 300ms;
}
/* line 80, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.hover-transition-links a:hover {
  background-color: #600;
  border-radius: 5px;
  color: #fff5cc;
}

/* line 87, /Users/billhorst/Desktop/Rails_Blog/blog/app/assets/stylesheets/application.css.scss */
.admin-buttons {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
  background: #a90329;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  border: 2px solid black;
  border-radius: 10px;
  margin: 15px;
  padding: 5px;
  color: #fff5cc;
}
ul.wysihtml5-toolbar {
	margin: 0;
	padding: 0;
	display: block;
}

ul.wysihtml5-toolbar::after {
	clear: both;
	display: table;
	content: "";
}

ul.wysihtml5-toolbar > li {
	float: left;
	display: list-item;
	list-style: none;
	margin: 0 5px 10px 0;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=bold] {
	font-weight: bold;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=italic] {
	font-style: italic;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=underline] {
	text-decoration: underline;
}

ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	background-color: #E6E6E6;
	background-color: #D9D9D9;
	outline: 0;
}

ul.wysihtml5-commands-disabled .dropdown-menu {
	display: none !important;
}

ul.wysihtml5-toolbar div.wysihtml5-colors {
  display:block;
  width: 50px;
  height: 20px;
  margin-top: 2px;
  margin-left: 5px;
  position: absolute;
  pointer-events: none;
}

ul.wysihtml5-toolbar a.wysihtml5-colors-title {
  padding-left: 70px;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="black"] {
  background: black !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="silver"] {
  background: silver !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="gray"] {
  background: gray !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="maroon"] {
  background: maroon !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="red"] {
  background: red !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="purple"] {
  background: purple !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="green"] {
  background: green !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="olive"] {
  background: olive !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="navy"] {
  background: navy !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="blue"] {
  background: blue !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="orange"] {
  background: orange !important;
}

.glyphicon-quote:before {
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 50px;
  position: absolute;
  top: -4px;
  left: -3px;
  max-height: 100%;
}

.glyphicon-quote:after {
  content: "\0000a0";
}

/*

*/
