<div class="seventy-percent-width">
  <h1>New Tag</h1>

  <%= render 'form', tag: @tag %>

  <hr />

  <div class="eighty-percent-width">
    <%= link_to 'Back', tags_path, class: "btn btn-block btn-default" %>
  </div>
</div>
