<div class="post-reviews">
  <h2>Comments:</h2>
  <% @comments.each do |comment| %>
  <div class="row">
    <hr>
    <p><em>"<%= comment.body %>"</em></p>
    <p>&nbsp-
      <% if comment.user.first_name %>
      <%= comment.user.first_name %>
      <% else %>
      Anonymous User
      <% end %>
    </p>
    <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
  </div>
  <% if current_user && current_user.admin? %>
  <%= link_to ('<span class="glyphicon glyphicon-remove"></span> (delete comment)').html_safe, post_comment_path(comment.post, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn admin-buttons" %>
  <% end %>
  <% end %>
</div>
