@import 'application';

// POST INDEX PAGE
.carousel-image {
  height: 500px;
  width: 800px;
  margin: auto;
}

.carousel-control:hover {
  background-color: transparent;
}

.carousel-caption {
  background-color: rgba(245, 245, 244, 0.7);
  font-size: 4em;
  margin-bottom: 100px;
  padding-top: 25px;
  color: $main-red;
  text-shadow: $main-yellow 1px 1px 2px;
}

// .carousel-read-post-button {
//   position: absolute;
//   left: 0;
//   right: 0;
//   width: 100px;
//   margin-left: auto;
//   margin-right: auto;
//   bottom: 10%;
//   background-color: $main-red;
//   color: $main-yellow !important;
//   border: none;
// }

.carousel-post-image {
  transition: 500ms;
  &:hover {
    transform: scale(1.03);
  }
}

.carousel-read-post-button:hover {
  background-color: $main-yellow;
  color: $main-red !important;
}

.thumbnail {
  padding-bottom: 20px;
}

.individual-post-display {
  // height: 300px;
}

.post-image {
  border-radius: 5px;
  box-shadow: black 1px 1px 1px;
  transition: 400ms;
}

.post-image:hover {
  transform: scale(1.05);
  box-shadow: black 2px 2px 20px;
}

// END POST INDEX PAGE


// POST SHOW PAGE
#post-show-page {

  .post-show-container {
    padding: 0px;
    margin: 0px;
  }

  .post-show-title-section {
    background-color: $main-yellow;
  }

  .post-show-title, .post-show-subtitle {
    text-align: center;
    color: $main-red;
  }

  .post-show-body {
    background-color: #eea;
  }

  .post-categories-and-tags-well {
    border: solid 1px grey;
    border-radius: 2px;
    padding: 10px;
    background-color: $main-yellow;
    margin: 5px;
    color: $main-red;
  }

}
// END POST SHOW PAGE


// POST EDIT PAGE
.post-body-edit-field {
  border: 1px solid black;
  padding: 5px;
  background-color: #eee;
  border-radius: 5px;
}

.wysihtml5-sandbox {
  width: 100% !important;
  min-height: 800px !important;
}
// END POST EDIT PAGE
