<div class="seventy-percent-width">
  <h1>Editing Category</h1>

  <%= render 'form', category: @category %>

  <hr />

  <div class="eighty-percent-width">
    <%= link_to 'Show', @category, class: "btn btn-block btn-default" %>
    <br />
    <%= link_to 'Back', categories_path, class: "btn btn-block btn-default" %>
  </div>
</div>
