<div class="category-index-page simple-display-page">

  <h1>Categories</h1>

  <%= link_to 'New Category', new_category_path, class: "admin-buttons simple-display-page-button" %>

  <hr />

  <% @categories.each do |category| %>
  <div class="row simple-display-page-row">
    <div class="col-md-6 simple-display-page-unit-name">
      <span><%= category.name %></span>
    </div>
    <div class="col-md-3">
      <%= link_to 'Edit', edit_category_path(category), class: "admin-buttons simple-display-page-row-button" %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "admin-buttons simple-display-page-row-button" %>
    </div>
  </div>
  <hr />
  <% end %>

</div>
